img{
    max-width: 100%;
}


body{
    background-color: darkgrey;
}

.container_main{
    width: 800px;
    margin: 2rem auto;
}

.cella{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}